@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-day_range_end.rdp-day_range_start {
  border-radius: 100%;
  background-color: #8be8fd7e;
}
.rdp:not([dir="rtl"]) .rdp-day_range_end:not(.rdp-day_range_start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #8be8fd7e;
}
.rdp-day_selected {
  background-color: #8be8fd7e;
}

.glassnav {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: hsla(240, 43%, 21%, 0.096);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
}
.banner-height {
  min-height: 560px;
}
